name: Lint and test
on:
  push:
    tags:
      - 'v*'
    branches:
      - master
  pull_request:
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - uses: actions/checkout@v4
      - run: |
          go test -v -race -bench=^BenchmarkRace ./...

          for dir in v[0-9]*;
          do
            test -d "${dir}" || continue

            cd "${dir}" || continue

            go test -v -race -bench=^BenchmarkRace ./...

            cd ..
          done
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.59.0
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.59.0
          working-directory: v2
